.box {
  text-align: center;
  border: 1px solid rgb(210, 227, 244);
  padding: 0.5rem;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: beige;
  }
}
.box span {
  font-size: 0.87rem;
  margin-top: 10px;
  color: #bbcada;
}
.box input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
