.sideText {
  display: flex;
  gap: 0.5rem;
}
.opened {
  transform: rotateZ(180deg);
}
.tile {
  display: flex;
  padding: 1rem;
  text-decoration: none;
  color: white;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.tile:hover {
  background-color: grey;
}
.subText {
  padding-left: 10%;
}
.link {
  display: flex;
  padding: 1rem;
  text-decoration: none;
  color: white;
  justify-content: space-between;
  align-items: center;
}
.link:hover {
  background-color: grey;
}
